<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="{{url_for('static', filename='tr.css')}}">
    <title>CSV Viewer</title>
</head>
<body>
    <form action = "{{ url_for('view') }}" method="POST" enctype="multipart/form-data">
        <label for="'rows">表示行数：</label>
        <input type="text" id="rows" name="rows" size="10"> 
        <br><br>
        <input type="file" id="send_data" name="send_data">
        <input type="submit" value="送信">
    </form>
    <br>
    <div>
        <table border="2">
        <th>行数</th>
        {% if headers %}
        {% for h in headers %}
        <th>{{h}}</th>
        {% endfor %}
        {% endif %}
        {% if result %}
        {% for r in result %}
        <tr>
            <td>{{loop.index}}</td>
            {% for elem in r %}
            <td>{{elem}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </table>
        {% endif %}
    </div>
    
</body>
</html>
