<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    
    <title>Chart.js</title>
</head>
<body>
 
        <form action = "/s" method="POST">
        <select class="text-muted" name="pref" style="font-size:14px;">
          
               <option value = "1" selected>1</option>
            
        </select>
        <input name = "linkPref" type= "submit"></input>
        </form>
        
        <br>
    <div style="width:50%;">
        <canvas id="myChart" width="200px" height="200px"></canvas>
        
    </div>

    <form action = '/u' method="POST">
        <label>開始日<input type="date" name='from' value="2023-01-20"></label>
        <label>締切日<input type="date" name="to"></label>
        <button type="submit" class="btn btn-primary">送信</button>
    </form>
    
</body>
</html>
